<footer class="bg-dark text-light ">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase mb-4">About Us</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
  
        <!-- Navigation Links -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase mb-4">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/home" class="text-light text-decoration-none">Home</a></li>
            <li><a routerLink="/menu" class="text-light text-decoration-none">Menu</a></li>
            <li><a routerLink="/reservation" class="text-light text-decoration-none">Reservation</a></li>
            <li><a routerLink="/contact" class="text-light text-decoration-none">Contact</a></li>
          </ul>
        </div>
  
        <!-- Contact Information -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase mb-4">Contact Us</h5>
          <ul class="list-unstyled">
            <li><i class="fas fa-phone"></i> +91-9***********</li>
            <li><i class="fas fa-envelope"></i> amanrpawar18@gmail.com</li>
            <li><i class="fas fa-map-marker-alt"></i> Gurugram, Haryana, India</li>
          </ul>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 text-center">
          <div class="social-links mb-4">
            <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-light me-3"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <p>&copy; 2024 Your Company Name. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  