/* Custom Google button styles */
/* Background with solid color */
.login-background {
	background-color: #f7f7f7; /* Adjust color as needed */
	min-height: 100vh; /* Ensure it covers the full viewport height */
  }
  
  /* Styles for the login container to stand out */
  .login-container {
	padding: 20px;
	border-radius: 12px;
	box-shadow: 10px 10px 20px #111, -10px -10px 20px #ddd;
	backdrop-filter: blur(30px);
	
  }
  
.btn-google {
	background-color: #4285f4; /* Google blue color */
	color: white;
	border: none;
	border-radius: 1.25rem;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	opacity: 0.8; /* Initial opacity */
	transition: opacity 0.3s ease; /* Smooth transition for opacity */
  }
  
  .btn-google:hover {
	background-color: #357ae8; /* Darker shade for hover effect */
	opacity: 1; /* Full opacity on hover */
  }
  
  .btn-google:focus {
	outline: none; /* Remove default focus outline */
  }

  /* Custom Login button styles */
.btn-login {
	background-color: #007bff; /* Bootstrap's primary color */
	color: white;
	border: none;
	border-radius: 1.25rem; /* Adjust this value for more rounded corners */
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease, border-radius 0.3s ease; /* Smooth transitions */
  }
  
  .btn-login:hover {
	background-color: #0056b3; /* Darker shade for hover effect */
  }
  
  .btn-login:focus {
	outline: none; /* Remove default focus outline */
  }
  .btn-signup {
	background-color: #007bff; /* Example background color */
	color: white;
	border-radius: 0.375rem; /* Same as rounded-6 */
  }
  
  .btn-signup:hover {
	background-color: #0056b3; /* Darker shade for hover effect */
  }
  
  .toast {
	z-index: 1050; /* Or adjust as needed */
  }
  
  